@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Inter', sans-serif;
    background-color: #DEFFF7;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  form {
    background-color: #88CFCB;
    padding: 40px;
    border-radius: 10px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #46726F;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #46726F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
    font-family: 'Inter', sans-serif;
  }
  
  button[type="submit"]:hover {
    background-color: #294241;
  }
  
  .register-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #fff;
  }
  
  .register-link span {
    margin-right: 5px;
  }
  
  .register-link a {
    color: #46726F;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
  }
  
  .register-link a:hover {
    color: #294241;
  }
  