* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }
  
  .register-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px;
    padding: 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
  
  .left {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  
  .left h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .left form {
    display: flex;
    flex-direction: column;
  }
  
  .left .form-group {
    margin-bottom: 20px;
  }
  
  .left label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .left input[type="text"],
  .left select,
  .left input[type="number"],
  .left input[type="password"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
    width: 100%;
  }
  
  .left select option {
    font-size: 16px;
  }
  
  .right {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .right h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .right form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .right .form-group {
    margin-bottom: 20px;
  }
  
  .right label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .right input[type="text"],
  .right input[type="password"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
    width: 100%;
  }
  
  .right button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .right button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  @media screen and (max-width: 768px) {
    .register-container {
      flex-direction: column;
    }
    
    .left {
      width: 100%;
    }
    
    .right {
      width: 100%;
    }
  }
  