<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Add Food Page</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css" rel="stylesheet">
  <link rel="stylesheet" href="addexercise.css">
</head>

<body>

    <%- include('nav') %>

  <!-- Add menu topic -->
  <section class="section">
    <div class="container">
      <h1 class="title">Add Exercise</h1>
      <div class="columns">
        <div class="column is-half">
          <label class="label">Search for Exercise:</label>
          <div class="control">
            <input class="input" type="text" placeholder="e.g. Pizza">
          </div>
        </div>
      </div>

      <div class="columns">

        <div class="column is-three-fifths">
          <div class="card">
            <table class="table is-fullwidth">
              <thead>
                <th>รูป</th>
                <th>ชื่อ</th>
                <th>รายละเอียด</th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <img src="https://res.cloudinary.com/dk0z4ums3/image/upload/v1593578859/attached_image_th/%E0%B8%A7%E0%B8%B4%E0%B8%94%E0%B8%9E%E0%B8%B7%E0%B9%89%E0%B8%99-%E0%B8%97%E0%B9%88%E0%B8%B2%E0%B8%AD%E0%B8%AD%E0%B8%81%E0%B8%81%E0%B8%B3%E0%B8%A5%E0%B8%B1%E0%B8%87%E0%B8%81%E0%B8%B2%E0%B8%A2%E0%B8%87-pobpad.jpg" width="150" height="150">
                  </td>
                  <th><h4>วิดพื้น</h4></th>
                  <th><h4>
                    การวิดพื้น
                  </h4></th>
                </tr>
              </tbody>
            </table>
            
          </div>
        </div>

        <div class=" column is-4 bigbox">
          <div class="card has-text-centered">
            <div class="columns">
              <div class="column is-6 ml-6">
                <h1 class="is-size-5 mt-1">จำนวนครั้งที่ควรออกกำลังกาย</h1>
              </div>
              <div class="column is-4">
                <h1 class="is-size-5 mt-5">10 ครั้ง</h1>
              </div>
            </div>
            <div class="control p-2">
              <button class="font-th button is-fullwidth">เพิ่มลงตาราง</button>
            </div>
          </div>
        </div>

        </div> 
      </div>

      <!-- Search menu box with picture -->
      <!-- Amount of menu box -->
    </div>
  </section>

  <%- include('footer') %>

</body>

</html>