<div class="container.is-fullhd p-6">
    <footer class="footer" style="background-color: #DEFFF7 !important;">
        <div class="content has-text-centered" >
          <h4>
            โครงงานนี้เป็นส่วนหนึ่งของวิชา 06016308 Database System Concepts คณะเทคโนโลยีสารสนเทศ
          </h4>
        </div>
      </footer>
</div>