<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Welcome!!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css" />
    <link rel="stylesheet" href="/css/login.css" />
</head>

<body>
    <section class="section is-medium">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">
                    <div class="card-header">
                        <h2 class="card-header-title is-size-1 is-centered">Welcome</h2>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <form action="/login" method="POST">
                                <div class="field">
                                    <label class="label">Username</label>
                                    <div class="control">
                                        <input class="input is-rounded is-size-5" type="text"
                                            placeholder="Enter username" name="login_name"/>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Password</label>
                                    <div class="control">
                                        <input class="input is-rounded is-size-5" type="password"
                                            placeholder="Password" name="login_password" />
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control custombutton">
                                        <button class="button is-rounded is-fullwidth"+3.0
                                        6222222221>
                                            Login
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="has-text-centered">
                            <p>Don't have an account? <a href="./register">Register</a> now.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>