<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Register</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css" />
    <link rel="stylesheet" href="/css/style_register.css" />
</head>

<body>
<<<<<<< HEAD
=======
    <form action="/register" method="POST">
>>>>>>> bc3b43fafe16b0f97cfff98bb28b7303e74f5921
        <section class="section">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-half">
                        <div class="card-header">
                            <h2 class="card-header-title is-size-1 is-centered">Register</h2>
                        </div>
                        <div class="card">
                            <div class="card-content">
                                <form action="/register" method="post">
                                    <div class="columns is-multiline">
                                        <div class="column is-half">
                                            <div class="field">
                                                <label class="label">First Name</label>
                                                <div class="control">
                                                    <input class="input is-rounded" type="text"
                                                        placeholder="Enter first name" name="user_fname" />
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label class="label">Last Name</label>
                                                <div class="control">
                                                    <input class="input is-rounded" type="text"
                                                        placeholder="Enter last name" name="user_lname"/>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label class="label">Gender</label>
                                                <div class="control">
                                                    <div class="select is-rounded">
                                                        <select>
                                                            <option>Select gender</option>
                                                            <option>Male</option>
                                                            <option>Female</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label class="label">Plan</label>
                                                <div class="control">
                                                    <div class="select is-rounded">
                                                        <select>
                                                            <option>Select plan</option>
                                                            <option>Basic</option>
                                                            <option>Pro</option>
                                                            <option>Premium</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label class="label">Age</label>
                                                <div class="control">
                                                    <input class="input is-rounded" type="text"
                                                        placeholder="Enter age" />
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label class="label">Weight</label>
                                                <div class="control">
                                                    <input class="input is-rounded" type="text"
                                                        placeholder="Enter weight" />
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label class="label">Height</label>
                                                <div class="control">
                                                    <input class="input is-rounded" type="text"
                                                        placeholder="Enter height" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column is-half">
                                            <div class="field">
                                                <label class="label">Username</label>
                                                <div class="control">
                                                    <input class="input is-rounded" type="text"
                                                        placeholder="Enter username"  name="user_name"/>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label class="label">Password</label>
                                                <div class="control">
                                                    <input class="input is-rounded" type="password"
                                                        placeholder="Password" name="user_pass"/>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label class="label">Confirm Password</label>
                                                <div class="control">
                                                    <input class="input is-rounded" type="password"
                                                        placeholder="Confirm password" name="user_pass" />
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="control custombutton">
                                                    <button class="button is-rounded" type="submit">Register</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</body>

</html>