<!DOCTYPE html>
<html>
  <head>
    <title>Table Page</title>
    <!-- Link Bulma CSS file -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/css/exercisetable.css">
  </head>
  <body>
    <!-- Navbar -->
    <%- include('nav') %>


    <div class="container mt-4">
    <div class="container">
      <h1 class="title">Table of Food</h1>
      <div class="level-right buttons">
        <a class="button" href="#">History</a>
      </div>
    </div>
      <table class="table is-striped is-hoverable is-fullwidth is-size-4">
        <thead>
          <tr>
            <th>Exercise</th>
            <th>Type</th>
            <th>Muscle</th>
            <th>Recommand</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
                <div class="buttons">
                    <a class="button" href="addfood.html">Add Exercise</a>
                </div>
            </td>
            <td>0</td>
            <td>-</td>
            <td>0</td>
            <td>-</td>
          </tr>
          <tr>
            
          </tr>
          <tr>
            <td>
                <div class="buttons">
                    <a class="button" href="addfood.html">Add Exercise</a>
                </div>
            </td>
            <td>0</td>
            <td>-</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td>
                <div class="buttons">
                    <a class="button" href="addfood.html">Add Exercise</a>
                </div>
            </td>
            <td>0</td>
            <td>-</td>
            <td>0</td>
            <td>0</td>
          </tr>
        </tbody>
      </table>
      <div class="level-item">
        <button class="font-thai button" style="width: 400px; font-size: 25px;">สรุปผลการออกกำลังกาย</button>
      </div>
      
      <div class="mt-5">
        <textarea class="textarea" placeholder="Add any additional notes here"></textarea>
      </div>
    </div>

    <%- include('footer') %>

    <!-- Link Bulma JavaScript file -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/js/bulma.min.js"></script>
  </body>
</html>
